


<body class = home>
    <div class = "logout">
        <a href="/session/logout"><button class = btnLogout>Logout</button></a>
        <p class ="homelogo">trave<span class ="logoSpan">LR </span></p>
    </div>
        <div class = "welcome">
            <h2 id = "homeH2">Travel Post Engage Repeat!</h2>
    
        </div>
        <div class ="postButtonContainer">
            <a href="/new"> <button class = "postButton">New Post</button>
        </div>
        <% if (username) {%> 
            <p class ="username">Welcome, <span class ="usernameSpan"><%= username %>!</span></p>
        <%} %>
        <div class = homecontainer> </a>
            <% posts.forEach((post, index) => { %>
            <div class = "card">
                <div class = "title">
                    <%= post.location %>
                </div> 
                <div class ="menuBarDiv">
                    <button class = testbtn><img class ="menuBar" src="/images/ellipsis.png" alt=""></button>
                        <nav class="menu">
                            <ul>
                                <li class = li>
                                    <button class = menuBtn>
                                        <a class = "menuFont" href="/home/<%= post.id %>/edit">Edit Item</a> 
                                    </button>
                                </li>
                                <li class = li>
                                    <button class = menuBtn>
                                        <form action="/<%=post.id%>?_method=DELETE" method ="POST">
                                            <input type="submit" value="Delete" class = "menuFont" id ="btnDelete">
                                        </form>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                </div>
                <div class = "image">
                    <img src="<%= post.img %>" alt=""> 
        
                </div>
                <div class ="caption">
                    <%= post.description %> 
                </div>
                <div class ="timestamp">
                    Posted:<%= post.createdAt.toLocaleDateString()%> 
                </div>
            </div>
<%})%>
        </div>
    
</body>
